/* General Styles */
body {
	background-color: #FFEEC0;
}

hide {
	width: 0;
	height: 0;
}

/* Dynamic Category Styles */
#CategoryContainer {
	height: 300px;
	overflow-x: scroll;
	
	border: 1px solid #372D23;
	border-radius: 2px;
	
	background-color: #F9F9F9;
}

.Category {
	height: 265px;
	margin: 4px 8px;
	float: left;
}


.CategoryBlocks {
	height: 90%;
	padding: 8px;
	
	border: 1px solid #372D23;
	border-radius: 4px;
}


.CategoryLabel {
	padding-left: 4px;
}


.CategoryBlock {
	padding: 4px;
	margin-bottom: 4px;
	
	border: 1px solid #372D23;
	border-radius: 2px;
}

/* Password Canvas Styles */
#PasswordCanvas {
	height: 50px;
	
	padding: 8px;
	
	border: 1px solid #372D23;
	border-radius: 4px;
	
	background-color: #F9F9F9;
}

#PasswordCanvas div {
	float: left;
}

.CanvasSpacer {
	height: 1px;
}

.CanvasBlock {
	border: 1px solid #372D23;
}

.TextBlock {
	margin: 0;
	padding: 0;
	
	height: 28px;
}

.TextBlock p {
	margin: 0;
	padding: 4px;
}

.TextBlock input {
	
}
