<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>JacksonPass</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>CreationServlet</display-name>
    <servlet-name>CreationServlet</servlet-name>
    <servlet-class>backend.CreationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreationServlet</servlet-name>
    <url-pattern>/Create</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VerificationServlet</display-name>
    <servlet-name>VerificationServlet</servlet-name>
    <servlet-class>backend.VerificationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerificationServlet</servlet-name>
    <url-pattern>/Verify</url-pattern>
  </servlet-mapping>
</web-app>